/*.rss-item-wrap{
	float:none!important;
	clear: both;
	display: inline-block;
	vertical-align: top;
}*/

.delete{
	float:right;
	cursor:pointer;
}

.rss-wrapper img{
	float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    max-width: 150px;
}

.rss-wrapper{
	overflow: hidden;
}