/*.rss-item-wrap{
	float:none!important;
	clear: both;
	display: inline-block;
	vertical-align: top;
}*/
.alert{
	overflow: hidden;
}

.delete{
	float:right;
	cursor:pointer;
}

.rss-wrapper img{
	float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    max-width: 150px;
}

.rss-wrapper{
	overflow: hidden;
}

#filter .form-line button{
	width: 100%;
}

#filter .form-line{
	margin-bottom: 5px;
}
#filter2 button{
	margin-bottom: 5px;
}


p.lead > *{
	vertical-align: middle;
}

.audio-click > *{
	font-size: 30px;
	vertical-align: bottom;
}

.player{
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index:1000;
	display: none;
}

.pagination{
	padding-left:15px!important;
}