/*pretty scroll*/
.mCSB_scrollTools {
  z-index: 100;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #269ABC;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:before {
  content: '';
  position: absolute;
  top: 47%;
  left: 3px;
  width: 4px;
  height: 10px;
  background: linear-gradient(#ffffff 2px, #3c93b8 2px, #3c93b8 4px, #ffffff 4px, #ffffff 6px, #3c93b8 6px, #3c93b8 8px, #ffffff 8px, #ffffff 10px);
}

.mCustomScrollbar {
  -ms-touch-action: none;
  touch-action: none;
}

.mCustomScrollbar.mCS_no_scrollbar {
  -ms-touch-action: auto;
  touch-action: auto;
}

.mCustomScrollBox {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: none;
  direction: ltr;
}

.mCSB_container {
  overflow: hidden;
  width: auto;
  height: auto;
}

.mCSB_inside > .mCSB_container {
  margin-right: 10px;
}

.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0;
}

.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
  margin-right: 0;
  margin-left: 30px;
}

.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-left: 0;
}

.mCSB_scrollTools {
  position: absolute;
  width: 10px;
  height: auto;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  background: #D9EDF7;
}

.mCSB_outside + .mCSB_scrollTools {
  right: -26px;
}

.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  right: auto;
  left: 0;
}

.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  left: -26px;
}

.mCSB_scrollTools .mCSB_draggerContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
}

.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0;
}

.mCSB_scrollTools .mCSB_draggerRail {
  height: 100%;
  margin: 0 auto;
}

.mCSB_scrollTools .mCSB_dragger {
  cursor: pointer;
  width: 100%;
  height: 30px;
  z-index: 1;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  position: relative;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  width: 12px;
}

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  width: 8px;
}

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}

.mCSB_scrollTools .mCSB_buttonDown {
  bottom: 0;
}



.alert{
	overflow: hidden;
}

.delete{
	float:right;
	cursor:pointer;
}

.rss-wrapper img{
	float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    max-width: 150px;
    height: auto;
}

.rss-wrapper{
	overflow: hidden;
}

#filter .form-line button{
	width: 100%;
}

#filter .form-line{
	margin-bottom: 5px;
}
.rss-points-wrap{	
	min-height: 100px;
}

.rss-points-wrap button{
	margin-bottom: 5px;
	margin-right: 5px;
}


p.lead > *{
	vertical-align: middle;
}

.audio-click > *{
	font-size: 30px;
	vertical-align: bottom;
}

.player{
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index:1000;
	display: none;
}

.pagination{
	padding-left:15px!important;
}

.is-read{
	float:right;
}

.lead-wrap{
	float: left;
}

.clear{
	float: none;
	clear: both;
}

.loader{
	width: 23px;
	height: 23px;
	vertical-align: initial;
}

.filter-span{
	display: inline;
	vertical-align: baseline;
	vertical-align: -moz-middle-with-baseline;
}

.filter-span-wrap{
	height: 100%;
}

.select{
	background: #fff;
	border: 1px solid #FAEBCC;
	border-radius: 4px;
	height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}

.select .option{
	padding: 5px;
	border-bottom: 1px solid #FAEBCC;
	cursor: pointer;
}
.select .option.active{
	background: #D6E9C6;
}
.select .option:hover{
	background: #39B3D7;
	color: #fff;
}
.select .option:last-child{
	border-bottom: none;
}

.my-checkbox{
	width: 34px;
	height: 34px;
	background: #fff;
}

footer{
  height: 50px;
  background: #101010;
}
.my-link{
  margin-top: 22px;
}